<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 start-xs logo">
        <a to="/" class="nav-item logo">logo</a>
      </div><!--/.col-->
      <div class="col-xs-9 end-xs">
        <ul class="nav-primary">
          <li><a class="nav-item" href="{{site.baseurl}}/about">About</a></li>
          <li><a class="nav-item" href="{{site.baseurl}}/work">Work</a></li>
          <li><a class="nav-item" href="{{site.baseurl}}/news">News</a></li>
          <li><a class="nav-item" href="{{site.baseurl}}/contact">Contact</a></li>
        </ul><!--/.nav-primary-->
        <div class="nav-toggle" id="js-nav-toggle">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </div><!--/.nav-toggle-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->

</header>

<div class="nav-mobile row" id="js-nav-mobile">
    <div class="col-xs-12">
      <ul class="nav-mobile-wrap">
        <li><a class="nav-item" href="{{site.baseurl}}/about">About</a></li>
        <li><a class="nav-item" href="{{site.baseurl}}/work">Work</a></li>
        <li><a class="nav-item" href="{{site.baseurl}}/contact">Contact</a></li>
      </ul><!--/.nav-primary-->
    </div><!--/.col-->
  </div><!--/.nav-mobile-->