// Helpers

// Colors: text
.text-white {color: $color-white;}
.text-primary {color: $color-primary;}
.text-secondary {color: $color-secondary;}
.text-body {color: $color-body;}

// Colors: background
.bg-white {background: $color-white; color: $color-body;}
.bg-primary {background: $color-primary; color: $color-white;}
.bg-secondary {background: $color-secondary; color: $color-body;}
.bg-black {background: $color-black; color: $color-white;}
.bg-gray {background: $color-gray; color: $color-body;}


// Layouts & Alignments
.full-height {
   height: 100vh;
 }
 .vertical-center {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
 }
 .padded { padding: 15px; }
 .pad-top { padding-top: 30px; }
 .pad-top-phone {
   @media (max-width: $bp-md) {
     padding-top: 30px;
   }
 }
 .pad-btm { padding-bottom: 30px; }
 .pad-btm-phone {
   @media (max-width: $bp-md) {
     padding-bottom: 30px;
   }
 }
 .no-pad { padding: 0; }
 .no-pad-phone {
   @media (max-width: $bp-md) {
     padding: 0;
   }
 }
 .no-pad-l { padding-left: 0; }
 .no-pad-r { padding-right: 0; }
 .no-pad-t { padding-top: 0; }
 .no-pad-b { padding-bottom: 0; }

 .text-left {text-align: left;}
 .text-center {text-align: center;}
 .text-right {text-align: right;}

 // Visibility
.hidden-phone {
   @media (max-width: $bp-md) {
     display: none!important;
   }
 }
 .visible-phone {
   display: none;
   @media (max-width: $bp-md) {
     display: block!important;
   }
}
// Images & Overlays
.bg-img-cover {
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   &.pos-left {
    background-position: left center;
   }
 }
 .has-overlay {
   &:before {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba($color-black, 0.5);
     z-index: -1;
   }
 }