// Header

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 45px 30px;
  background-color: black;
  z-index: 300;
  transform: translateY(0);
  transition: background 0.2s ease-in;
  &.is-fixed {
    position: fixed;
    background-color: $color-black;
  }
}
// Logo
.logo a {
  color: white;
  font-weight: 700;
}
.logo img {
  margin: 0;
  width: 100%;
  max-width: 200px;
}
// Nav primary
.nav-primary {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @media (min-width: $bp-md) {
    display: flex;
    justify-content: flex-end;
  }
  li {
    flex: 0 0 auto;
  }
  a {
    margin: 0 20px;
    padding-bottom: 5px;
    color: $color-white;
    font-size: rem(18);
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: $color-white;
      height: 2px;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:hover {
      text-decoration: none;
      color: $color-white;
    }
    &:hover:before{
      left: 0;
      right: 0;
    }
  }
}

// Nav mobile
.nav-mobile,
.nav-toggle {
  @media (min-width: $bp-md) {
    display: none;
  }
}

// Nav mobile wrapper
.nav-mobile {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background: lighten($color-black, 9%);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: 100px; //make "x" clickable at top of nav
  font-size: rem(18);
  text-transform: uppercase;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.4s, ease-out 0.4s;
  will-change: transform;
  &.nav-open {
    opacity: 1;
    overflow-y: scroll;
    visibility: visible;
    transform: translateY(0);
    z-index: 200;
  }
}
body.nav-open {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
  .header {
    background: black;
  }
}

.nav-mobile-wrap {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    border-bottom: 1px solid $color-white;
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    display: block;
    padding: calc-em(10px) 0;
    color: $color-white;
    font-size: calc-em(20px);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    &:hover,&:focus {background: $color-primary;}
  }
}

// nav toggle
$bar-width: 40px;
$bar-height: 5px;
$bar-spacing: 10px;
$height-icon: 20px;
$width-line: 35px;
$height-line: 3px;
$transition-time: 0.25s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

.nav-toggle {
  width: $width-line;
  height: $height-icon;
  position: absolute;
  margin: 0;
  right: 0;
  margin-right: 45px;
  cursor: pointer;
  z-index: 99999;
  .line {
    display: block;
    position: absolute;
    right: 0;
    background: $color-white;
    width: $width-line;
    height: $height-line;
    transition: all $transition-time;
    &.line-1 {
      top: 0;
    }
    &.line-2 {
      top: 50%;
      width: ($width-line / 1.2);
    }
    &.line-3 {
      top: 100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
    }
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}
